log/*
*~
.bundle
db/*.sqlite3
db/schema.rb
*.log
tmp/
.sass-cache/
*.swp
*.swo
public/uploads/
.DS_Store
Thumbs.db
./bin
.bin/*
*.dump
public/assets
latest.dump
pickle-*.html
.~*
gems.tags
.env
public/sitemap*
.powenv
coverage
node_modules/
public/activity*.xlsx
vendor/assets/components

#redis dump file
dump.rdb
.rvmrc
